@import "partials/reset";
@import "partials/clearfix";

$small: "only screen and (max-width: 800px)";
$large: "only screen and (min-width: 801px)";

// body {
//   text-align: center;
//   box-sizing: border-box;
//   margin: auto;
// }

#title {
  font-size: 50px;
  display: inline-block;
  color: #736E74;
  float: left;
  margin-left: 100px;
  font-family: "Helvetica";
  font-weight: bold;
}

#words {
  display: inline-block;
  width: 400px;
  color: #736E74;
  float: right;
  margin-right: 100px;
  margin-top: 50px;
}

#mainImage {
  width : 90%;
  display: block;
  margin: auto;
  margin-bottom: 30px;
}

.otherImages {
  width: 90%;
  height: 90%;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  margin: auto;
  // margin: 10px;
  // margin-top: 20px;
  border: 2px solid black;
}

.button {
  width: 120px;
  text-align: center;
}

.descripts {
  color: red;
  // width: 90%;
  // margin: 10px;
  // text-decoration: none;
}

.imagecontainer {

  box-sizing: border-box;
  border: 3px solid blue;
  display: inline-block;

  @media #{$small}{


  height: 90%;
  margin: auto;
  max-width: 90%;
  min-width: 90%;
  }
  @media #{$large}{
    // height: 30%;
    max-width: 30%;
    min-width: 30%;
  }
}

.auths {
  // width: 90%;
  color: green;
  // margin: 10px;
  // text-decoration: none;
}
