@import "partials/reset";
@import "partials/clearfix";

$small: "only screen and (max-width:800px)";
$large: "only screen and (min-width:801px)";

$box-shadow: 0 1px 0 #ccc,
             0 2px 0 #c9c9c9,
             0 3px 0 #bbb,
             0 4px 0 #b9b9b9,
             0 5px 0 #aaa,
             0 6px 1px rgba(0,0,0,.1),
             0 0 5px rgba(0,0,0,.1),
             0 1px 3px rgba(0,0,0,.3),
             0 3px 5px rgba(0,0,0,.2),
             0 5px 10px rgba(0,0,0,.25),
             0 10px 10px rgba(0,0,0,.2),
             0 20px 20px rgba(0,0,0,.15);

$text-shadow: 0 1px 0 #ccc,
              0 2px 0 #c9c9c9,
              0 3px 0 #bbb,
              0 4px 0 #b9b9b9,
              0 5px 0 #aaa,
              0 6px 1px rgba(0,0,0,.1),
              0 0 5px rgba(0,0,0,.1),
              0 1px 3px rgba(0,0,0,.3),
              0 3px 5px rgba(0,0,0,.2),
              0 5px 10px rgba(0,0,0,.25),
              0 10px 10px rgba(0,0,0,.2),
              0 20px 20px rgba(0,0,0,.15);

$font-awesome: "Segoe UI";
$font-prettycool: "Helvetica Neue";

#title {
  font-size: 50px;
  display: inline-block;
  color: #736E74;
  float: left;
  margin-left: 100px;
  margin-top: 30px;
  font-family: $font-prettycool;
  font-weight: bold;
  text-shadow: $text-shadow;
}

#title.loginTitle {
  display: block;
  text-align: center;

}

#words {
  display: none;

  @media #{$large}{
    display: inline-block;
    width: 400px;
    color: #736E74;
    float: right;
    margin-right: 100px;
    margin-bottom: 30px;
    margin-top: 30px;
  }
}

#mainImage {
  width : 90%;
  display: block;
  margin: auto;
  margin-bottom: 30px;
  box-shadow: $text-shadow;
}

.button {
  width: 120px;
  text-align: center;
  border: 2px solid black;
  font-weight: bold;
  margin-left: 50px;
  border-radius: 50px;
  box-shadow: 0 1px 0 #666, 0 5px 0 #444, 0 4px 6px 6px rgba(0,0,0,0.6);
}

.button.login {
  margin: auto;
  font-weight: bold;
}

.allImages {
  max-width: 100%;
  min-width: 250px;
  height: absolute;
  box-sizing: border-box;
  display: block;
  padding: 20px;
  margin-left: 40px;


  .imagecontainer {
    display: block;
    width: 90%;
    height: 90%;
    padding: 10px;
    margin: 10px;
    border: 3px solid black;
    box-shadow: $box-shadow;

    @media #{$large}{
      display: inline-block;
      margin: 5px;
      width: 30%;
    }

    .otherImages {
      height: 300px;
      width: 90%;
      margin: auto;
      box-shadow: $box-shadow;

      @media #{$large}{
        height: 300px;
        margin: auto;
        display: inline-block;
        width: 90%;
      }
    }
  }
}

.descripts {
  color: black;
  font-family: $font-awesome;
  margin: auto;
  width: 90%;
  margin: 10px;
  text-decoration: none;
  // text-shadow: $text-shadow;
}

.auths {
  width: 90%;
  color: black;
  font-family: $font-awesome;
  margin: auto;
  margin: 10px;
  text-decoration: none;
  // text-shadow: $text-shadow;
}

.otherImages {
  width: 100%;
  height: 100%;
}



.logoutButton {
  width: 120px;
  display: block;
  margin-bottom: 20px;
  margin-right: 100px;
  padding-bottom: 30px;
  font-weight: 900;
}

.indy{
  display: block;
  width: 500px;
}

.author {
  margin-left: 50px;
  text-align: center;
  font-weight: bold;
}

.link {
  margin-left: 50px;
  text-align: center;
  font-weight: bold;
}

.description {
  margin-left: 50px;
  text-align: center;
  font-weight: 900;
}

.addNewPhoto {
  text-align: center;
  font-weight: 900;
}

.updatePhoto {
  text-align: center;
  font-weight: 900;
}

.loginButton {
  text-align: center;
  margin-top: 100px;
  font-weight: 900;
}

.loginText {
  font-family: $font-awesome;
  font-size: 20px;
  font-weight: 900;
}