doctype html
html
  head
    title Express Gallery
    link(rel="stylesheet", href="/css/styles.css")
  body

    p#title _ARCHITEKT

    p#words.
      Welcome to our online portfolio, we are a small group
      of passionate designers and architects, looking to
      change and create amazing digital images to
      inspire others to follow in our innovative steps.  Free
      Architect WordPress Theme

    img(src="http://www.architekt-euteneuer.de/fileadmin/images/startseite_slider/startseite_2.jpg" id="mainImage")

    img(src="http://witze.net/architekt.gif" class="otherImages")

    img(src="http://www.planungsbueroklee.de/typo3temp/pics/Architekt_bdfb3f3ad9.jpg" class="otherImages")

    img(src="http://cliparts.co/cliparts/riL/n5K/riLn5Ko4T.png" class="otherImages")

    div

    img(src="http://witze.net/architekt.gif" class="otherImages")

    img(src="http://www.planungsbueroklee.de/typo3temp/pics/Architekt_bdfb3f3ad9.jpg" class="otherImages")

    img(src="http://cliparts.co/cliparts/riL/n5K/riLn5Ko4T.png" class="otherImages")


    block content
