include ./layouts/mainLayout

block content

  form(name='textInput' method='POST' action='/gallery')
    input(name='author' placeholder='Author Name')
    br
    input(name='link' placeholder='Link URL')
    br
    input(name='description' placeholder='Description')
    br
    input.button(type='submit' value='New Photos')