include ./layouts/mainLayout

include ./mixins

block content
  p#title Express Gallery

  p#words.
    Welcome to our online recreated portfolio, we are a small group of ragtag devleague developers, looking to
    change and create amazing digital images to
    inspire others to follow in our innovative steps. #Butt.


  div#firstRow

    img(src="http://clv.h-cdn.co/assets/cm/15/10/640x480/gallery_54f0d9d889efa_-_01-millertinyhouse-048-edit1-lgn.jpg" id="mainImage")

  div.allImages
    +generateImages(galleryimages)

  form(method='GET' action='/gallery/new')
    input.button(type='submit' value='Create New Photo')
  br
  div.logoutButton
    form(action='/logout')
      input.button(type='submit' value='Log Out' style="width: 120px")
