include ./layouts/mainLayout

include ./mixins

block content
  p#title _ARCHITEKT

  p#words.
    Welcome to our online portfolio, we are a small group
    of passionate designers and architects, looking to
    change and create amazing digital images to
    inspire others to follow in our innovative steps.  Free
    Architect WordPress Theme


  div#firstRow

    img(src="http://www.architekt-euteneuer.de/fileadmin/images/startseite_slider/startseite_2.jpg" id="mainImage")

  div.allImages
    +generateImages(galleryimages)

  form(method='GET' action='/gallery/new')
    input.button(type='submit' value='Create New Photo')

  div.logoutButton
    form(action='/logout')
      input.button(type='submit' value='Log Out' style="width: 120px")
