include ./layouts/mainLayout

include ./mixins

block content
  p#title _ARCHITEKT

  p#words.
    Welcome to our online portfolio, we are a small group
    of passionate designers and architects, looking to
    change and create amazing digital images to
    inspire others to follow in our innovative steps.  Free
    Architect WordPress Theme


  div#firstRow

    img(src="http://www.architekt-euteneuer.de/fileadmin/images/startseite_slider/startseite_2.jpg" id="mainImage")

  +generateImages(galleryimages)

  form(method='POST' action='/gallery/edit')
    input.button(type='submit' value='Create New Photo')

  //-   a(href="/gallery/1/edit"): img(src="http://witze.net/architekt.gif" class="otherImages")

  //-   a(href="/gallery/2/edit"): img(src="http://www.planungsbueroklee.de/typo3temp/pics/Architekt_bdfb3f3ad9.jpg" class="otherImages")

  //-   a(href="/gallery/3/edit"): img(src="http://cliparts.co/cliparts/riL/n5K/riLn5Ko4T.png" class="otherImages")

  //- div#secondRow

  //-   a(href="/gallery/4/edit"): img(src="http://www.clipartlord.com/wp-content/uploads/2013/01/house2.png" class="otherImages")

  //-   a(href="/gallery/5/edit"): img(src="http://wackymania.com/image/2011/3/real-house-inspired-by-cartoons/real-house-inspired-by-cartoons-02.jpg" class="otherImages")

  //-   a(href="/gallery/6/edit"): img(src="http://www.how-to-draw-funny-cartoons.com/image-files/cartoon-house-008.jpg" class="otherImages")


  //- form(name='textInput' method='GET' action='/gallery/new')
  //-   input.button(type='submit' value='New Photos')
  //- form(method='GET' action='/gallery')
  //-     input.button(type='submit' value='View Gallery')

  //- form(name='textInput' method='GET' action='/gallery/:id')
  //-     input.button(type='submit' value='Search Photos')

  //- form(method='POST' action='/gallery')
  //-     input.button(type='submit' value='Create New Photo')

  //- form(method='PUT' action='/gallery/:id')
  //-     input.button(type='submit' value='Update Photo')

  //- form(method='DELETE' action='/gallery/:id')
  //-     input.button(type='submit' value='Delete Photo')

  //- form(name='textInput' method='GET' action='/gallery/new')
  //-   label(for='username-field')
  //-     input.author(placeholder='Author Name')
  //-     input.ink(placeholder='Link URL')
  //-     input.description(placeholder='Description')
      //- input.button(type='submit' value='New Photos')

  //- form(name='textInput' method='GET' action='/gallery/:id/edit')
  //-   label(for='username-field')
  //-     input.author(placeholder='Author Name')
  //-     input.link(placeholder='Link URL')
  //-     input.description(placeholder='Description')
  //-     input.button(type='submit' value='Edit a Photo')




