include ./layouts/mainLayout

include ./mixins

block content
  div#textArea
    p#title Express Gallery

    p#words.
      An Application to create, read, update, and delete photos utilizing Express, Sequelize, PostgreSQL, Jade, SASS, mixins, and HTML5.


  div#firstRow

    img(src="http://clv.h-cdn.co/assets/cm/15/10/640x480/gallery_54f0d9d889efa_-_01-millertinyhouse-048-edit1-lgn.jpg" id="mainImage")

  div.allImages
    +generateImages(galleryimages)

  form(method='GET' action='/gallery/new')
    input.button(type='submit' value='Create New Photo')
  br
  div.logoutButton
    form(action='/logout')
      input.button(type='submit' value='Log Out' style="width: 120px")
