

form(name='textInput' method='POST' action='/login')
  input.username(name="username" type='username')
  input.password(name="password" type='password')
  input.description(type='submit' value='Log In')
  //- input.button(type='submit' value='Update')