mixin generateImages(galleryimages)
  each galleryimage in galleryimages
    div.imagecontainer
      a(href="/gallery/" + galleryimage.id)
        img(src= "#{galleryimage.link}" class="otherImages")
        p.descripts= 'description: ' + galleryimage.description
        p.auths= 'author: ' + galleryimage.author

//- mixin generateImageses(galleryimagerows)
//-   each galleryimagerow in galleryimagerows
//-     img(src= galleryimagerows.image class="otherImages")