mixin generateImages(galleryimages)
  each galleryimage in galleryimages
    div.imagecontainer
      a(href="/gallery/" + galleryimage.id)
        img(src= galleryimage.image class="otherImages")
        p.descripts= galleryimage.description
        p.auths= galleryimage.author

//- mixin generateImageses(galleryimagerows)
//-   each galleryimagerow in galleryimagerows
//-     img(src= galleryimagerows.image class="otherImages")