form(name='textInput' method='POST' action='/gallery/update/#{id}')
  input.author(name="author" placeholder='Author Name')
  input.link(name="link" placeholder='Link URL')
  input.description(name="description" placeholder='Description')
  input.button(type='submit' value='Update')
