#title {
  font-size: 50px;
  display: inline-block;
  color: #736E74;
  float: left;
  margin-left: 100px;
  font-family: "Helvetica";
  font-weight: bold;
}

#words {
  display: inline-block;
  width: 400px;
  color: #736E74;
  float: right;
  margin-right: 100px;
  margin-top: 50px;
}

#mainImage {
  width : 90%;
  display: block;
  margin: auto;
  margin-bottom: 30px;
}

.otherImages {
  width: 30%;
  height: 300px;
  display: inline-block;
  margin: 10px;
  margin-top: 20px;
  border: 2px solid black;
}

.button {
  width: 120px;
  text-align: center;
}

.descripts {
  color: red;
  width: 30%;
  margin: 10px;
}

.imagecontainer {
  display: inline-block;
  width: 100%;

}

.auths {
  color: green;
  margin: 10px;
}