/* line 1, stdin */
#title {
  font-size: 50px;
  display: inline-block;
  color: #736E74;
  float: left;
  margin-left: 100px;
  font-family: "Helvetica";
  font-weight: bold; }

/* line 11, stdin */
#words {
  display: inline-block;
  width: 400px;
  color: #736E74;
  float: right;
  margin-right: 100px;
  margin-top: 50px; }

/* line 20, stdin */
#mainImage {
  width: 90%;
  display: block;
  margin: auto;
  margin-bottom: 30px; }

/* line 27, stdin */
.otherImages {
  width: 90%;
  height: 300px;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  margin: auto;
  border: 2px solid black; }

/* line 39, stdin */
.button {
  width: 120px;
  text-align: center; }

/* line 44, stdin */
.descripts {
  color: red;
  width: 90%;
  margin: 10px;
  text-decoration: none; }

/* line 51, stdin */
.imagecontainer {
  height: 30%;
  margin: auto;
  box-sizing: border-box;
  display: inline-block;
  width: 30%; }

/* line 59, stdin */
.auths {
  width: 90%;
  color: green;
  margin: 10px;
  text-decoration: none; }
